<ng-container *ngIf="item">
  <mat-card-header>
    <mat-card-title>
      <h2 id="title">{{title}}</h2>
    </mat-card-title>
    <mat-card-subtitle id="sub_title">
      {{subTitle}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p id="item_title">{{item.titel}}</p>
    <p id="item_text">{{item.tekst}}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn" id="btn_remove" (click)="remove()">{{btnRemove}}</button>
    <button mat-raised-button color="accent" id="btn_list" (click)="goToList()">{{btnGoToList}}</button>
  </mat-card-actions>
</ng-container>
