<mat-card-header>
  <mat-card-title>
    <h2 id="title">{{title}}</h2>
  </mat-card-title>
  <mat-card-subtitle id="sub_title">
    {{subTitle}}
  </mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <mat-nav-list>
    <ng-container *ngFor="let item of items; let i = index">
      <mat-divider *ngIf="i > 0"></mat-divider>
      <mat-list-item (click)="goToDetail(item.id)">
        <div mat-line id="item_title_{{item.id}}">{{item.titel}}</div>
      </mat-list-item>
    </ng-container>
  </mat-nav-list>
</mat-card-content>

<mat-card-actions>
  <button mat-raised-button color="primary" id="btn_new" (click)="goToNew()">{{btnGoToNew}}</button>
</mat-card-actions>






