<mat-card-header>
  <mat-card-title>
    <h2 id="title">{{title}}</h2>
  </mat-card-title>
  <mat-card-subtitle id="sub_title">
    {{subTitle}}
  </mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Titel</mat-label>
      <input matInput id="item_title_input" [(ngModel)]="item.titel" name="titel">
    </mat-form-field>
  </div>
  <div class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Tekst</mat-label>
      <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" id="item_text_input" [(ngModel)]="item.tekst" name="tekst"></textarea>
    </mat-form-field>
  </div>
</mat-card-content>

<mat-card-actions>
  <button mat-raised-button color="primary" id="btn_save" (click)="save()">{{btnSave}}</button>
  <button mat-raised-button color="accent" id="btn_list" (click)="goToList()">{{btnGoToList}}</button>
</mat-card-actions>
